@model IEnumerable<Direcciones.Models.Address>
@using Direcciones.Models
@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Direcciones</h1>

    </section>

    <form>
        <div class="row">
            <div class="col-md-10 pb-4">
                <input name="Buscador" class="form-control" value="@ViewBag.Buscador" style="max-width:100%" placeholder="Buscar por ciudad o país" id="Buscador" />
            </div>
            <div class="col-md-2 pb-4">
                <button class="btn btn-primary w-100" type="submit">Buscar</button>
            </div>
        </div>
    </form>
    

    <div class="row">
        <div class="container">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(Model => Model.City)</th>
                        <th>@Html.DisplayNameFor(Model => Model.AddressLine1)</th>
                        <th>@Html.DisplayNameFor(Model => Model.AddressLine2)</th>
                        <th>@Html.DisplayNameFor(Model => Model.StateProvince)</th>
                        <th>@Html.DisplayNameFor(Model => Model.CountryRegion)</th>
                        <th>@Html.DisplayNameFor(Model => Model.PostalCode)</th>
                        <th>@Html.DisplayNameFor(Model => Model.ModifiedDate)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Address item in Model)
                    {
                        <tr>
                            <td>@item.City</td>
                            <td>@item.AddressLine1</td>
                            <td>@item.AddressLine2</td>
                            <td>@item.StateProvince</td>
                            <td>@item.CountryRegion</td>
                            <td>@item.PostalCode</td>
                            <td>@item.ModifiedDate.ToShortDateString()</td>
                            <td><a href="@Url.Action("Edit", new {@id = item.AddressID})" class="btn btn-sm btn-danger">Editar</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>