@model IEnumerable<Direcciones.Models.Address>
@using Direcciones.Models
@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Direcciones</h1>

    </section>

    <div class="row">
        <div class="container">
            <table class="table table-striped" >
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(Model => Model.City)</th>
                        <th>@Html.DisplayNameFor(Model => Model.AddressLine1)</th>
                        <th>@Html.DisplayNameFor(Model => Model.AddressLine2)</th>
                        <th>@Html.DisplayNameFor(Model => Model.StateProvince)</th>
                        <th>@Html.DisplayNameFor(Model => Model.CountryRegion)</th>
                        <th>@Html.DisplayNameFor(Model => Model.PostalCode)</th>
                        <th>@Html.DisplayNameFor(Model => Model.ModifiedDate)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        @foreach (Address item in Model)
                        {
                        <tr>
                            <td>@item.City</td>
                            <td>@item.AddressLine1</td>
                            <td>@item.AddressLine2</td>
                            <td>@item.StateProvince</td>
                            <td>@item.CountryRegion</td>
                            <td>@item.PostalCode</td>
                            <td>@item.ModifiedDate</td>
                            <td><span class=""></span></td>
                        </tr>
                        }
                </tbody>
            </table>
        </div>
    </div>
</main>